.tpContainer{
	background-color: #191C26;
    font-family: arial;
    color: #FFF;
    text-align: center;
}

.multiplayer-container{
	background-color: #0f1015;
}

.app-controller{
	border: 1px solid #1d2028;	
	background-color: #303644;
	box-sizing:border-box;
  	-moz-box-sizing:border-box;
  	-webkit-box-sizing:border-box;
}

.menu{
	background-color: #303644;
}

.tpLayout{
	background-color: #0f1015;
}

.tp-layout-wrapper{
	border: 1px solid #666b78;
	background-color: #2D303A;

}

.player-container{
	border: none;
}

.player-container.current{
	border: 1px solid #FFF;
	box-sizing:border-box;
  	-moz-box-sizing:border-box;
  	-webkit-box-sizing:border-box;
}

.overlay{
	background-color: rgba(0,0,0,0.6);
}

.player-overlay{
	background-color: #191B23;
}

.player-overlay p{
	font-size: 16px;
	font-weight: bold;
	color: #303644;
	text-align: center;
}

.container-picture .player-overlay p{
	font-size: 13px;
}

.overlay .box{
	font-size: 10px;
}

.overlay .box a{
	text-decoration: none;
	color: #FFF;
}

#overlay-show-app{
	color: #FFF;
}

#close-bar{
    background-color: #252A36;
    float: right;
}

.feed{
	background-color: #262A35;
}

.feed-buttons .feed-button a{
	font-style: 14px;
	color: #596276;
	font-weight: bold;
}

.feed-buttons .feed-button.active a{
	color: #FFF;
}

.feeds-container{
	box-shadow: inset 0 0 17px #000000;
	background-color: #262A35;
}

.feed-item{
	text-align: left;
	font-weight: bold;
    padding: 3px 6%;
}

.feed-item a.active{
	color: #FFF;
}

.feed::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 4px;
	background-color: #131313;
}

.feed::-webkit-scrollbar
{
	width: 15px;
	background-color: #F5F5F5;
	border-radius: 6px;
}

.feed::-webkit-scrollbar-thumb
{
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #3e4656;
	height: 50px;
}


a.link-movie{
	color: #79849e;
	font-size: 11px;
}

a.link-movie:hover{
	color: #b9c4dd;
}

.link-movie span{
	width: 45%;
	margin-top: 2%;
	margin-left: 5%; 
}

.feed-item-separator{
	border-top: 1px solid #16191f;
	border-bottom: 1px solid #3f4351;
}

/* CUSTOM CONTROLLER */

.custom-controller{
    color: #fff;
    background-color: #2D303A;
    opacity: 0.75; 
}

.custom-controller .bitrate{    
    color: #596276;
    font-weight: bold;
}

.custom-controller .bitrate-group .bitrate-gear{ 
    width: 18px;
    height: 16px;
    margin: 0 3px;
}

#overlay-show-app{
	background-color: #1D2028;
}

.custom-controller .volume{
	border-radius: 10px;
    border-bottom: 1px solid #464D5C;
    background: #111;  
    cursor:pointer;
}

.custom-controller .volume .bar{
    background:#e51e00;
    cursor:pointer;
    border-radius: 10px 0 0 10px;
}

.custom-controller .volume .button{
    background-color: #e0e0e0;    
    border-radius:5px;
    cursor:pointer;
}

.custom-controller .close{
 	font-size: 10px;
 	cursor:pointer;
}

.custom-controller .switch{
 	cursor:pointer;
}

/* Player menu */

.player-menu{
	background-color: #303644;	
}

.player-menu .button{
	cursor: pointer;
}

.container-picture,.container-split4{
	border: 1px solid #0f1015;	
	box-sizing:border-box;
  	-moz-box-sizing:border-box;
  	-webkit-box-sizing:border-box;
}

.graphics-container{
	position: absolute;
	width: 100%;
	height: 100%;	
	z-index: 100;
}

/* ICONS */

[class^="icon-"], [class*=" icon-"]{
	cursor: pointer;
}

[class^="icon-"], [class*=" icon-"]{
	cursor: pointer;
}

[class^="icon-"], [class*=" icon-"]{
	color: #596276;
}

[class^="icon-"]:hover, [class*=" icon-"]:hover{
	color: #808eab;
}

[class^="icon-"].buttons2, [class*=" icon-"].buttons2{
	color: #FFF;
}

[class^="icon-"].buttons3, [class*=" icon-"].buttons3{
	color: #E51E00;
}

[class^="icon-"].buttons2:hover, [class*=" icon-"].buttons2:hover{
	color: #808eab;
}

[class^="icon-"].buttons3:hover, [class*=" icon-"].buttons3:hover{
	color: #808eab;
}

/* VIEW MODES */


[class^="view-mode-"], [class*=" view-mode-"]{
	cursor: pointer;
}

[class^="view-mode-"], [class*=" view-mode-"]{
	color: #596276;
}

[class^="view-mode-"].active, [class*=" view-mode-"].active{
	color: #E51E00;
}

[class^="view-mode-"]:hover, [class*=" view-mode-"]:hover{
	color: #808eab;
}
